greg - social eyes

Consider using the particulars of a dramatic situation to explore interaction details - i.e. - a family fight or secrets or skeletons in the closet or an upcoming wedding or birthday will give you a chance to interrogate the edges of this technology. Conflict may be more interesting that harmony.

